html {
	background: black;
	color: white;
	padding: 0px;
    margin: 0px;
    height: 100%;
}

body {
	font-family: FreeSerif, serif;
    height: 100%;
    padding: 0px;
    margin: 0px;
}

html img {
	width: 100%;
}

a {
	color: white;
	text-decoration: none;
	padding: 5px;
	margin: 15px;
}

input[name="choice4"] {
	text-align: center;
}

button {
	background: white;
}

td { 
	width: 30%;
}

h1 {
	text-align: center;
}

form {
	background-color: gray;
	padding: 20px 50px 20px 50px;
	margin: 20px 50px 20px 50px;
}

.gm-style-iw + div {
	display: none;
}

.radio-label {
	display: inline-block;
	vertical-align: middle;
}

.form-group {
	margin-bottom: 5px !important;
}

.select-on-map-link {
	font-size: 10px;
	margin: 0px !important;
	padding: 0px !important;
	text-align: right;
	vertical-align: top;
}

.hidden {
	display: none;
}

.container {
	position: relative;
	text-align: center;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.button-centered {
	text-align: center;
}

#disclaimer-helper {
	padding: 0px 50px 0px 50px;
	text-align: center;
}

#disclaimer {
	border-width: 1px;
	border-style: solid;
	border-color: black;
	border-radius: 10px;
	background-color: silver;
	font-size: 0.8em;
	padding-top: 5px;
	padding-bottom: 5px;
}

#map {
	height: 250px;  /* The height is 400 pixels */
	width: 100%;  /* The width is the width of the web page */
}

#start-address, #end-address {
	width: 100%;
}

#banner-helper {
	position: relative;
}

#title-banner {
}

#logo {
	width: 200px;
}

#header {
	display: table;
	width: 100%;
}

#header-helper {
	display: table-row;
	width: 100%;
}

#navigation {
	display: inline-block;
	display: table-cell;
	text-align: right;
	vertical-align: middle;
}

#validate {
	position: relative;
	top: 50%;
}

#tip-unit {
	line-height: 30px;
}

#fixed-price {
	position: fixed;
	bottom: 0px;
	right: 50px;
	padding: 10px;
	background-color: #2F3542;
	color: white;
}

#validate-container {
	text-align: center;
	width: 100%;
}

#map {
	height: 250px;
	width: 100%;
}

#banner {
	background-image: url("../img/banner.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	min-height: 100%;
	width: 100%;
	padding-top: 30px;
	padding-bottom: 30px;
}

#cardview {
	padding: 25px 0px 25px 0px;
	background: #706b62;
	width: 80%;
	margin: 0px auto 0px auto;
	text-align: none;
}
