table {
	margin: auto;
	width: 70%;
}

table, td, tr {
	border-width: 1px;
	border-style: solid;
}

td {
	padding: 5px 0px 10px 5px !important;
	text-align: left;
}

/*(div > input#order-type-radio:not(:checked)) ~ #objectdelivery-order-container*/
/*#test-div:not(input[name=order-type-radio]:not(:checked))   {
	display: none;
}*/

#objectdelivery-order-container {
	text-align: center !important;

}

#order-tip-input {
	text-align: center;
}

#order-type-radio-label {
	width: 96%;
}

.stage-label {
	background-color: #fff;
	border: 2px solid #D1D7DC;
	border-radius: 50%;
	height: 32px;
	width: 32px;
	line-height: 27px;
	vertical-align: middle;
	margin: 10px;
}

input[name=stage-input]:checked + .stage-label {
	background-color: #808080;
}

input[name=stage-input] {
	display: none;
}

input[name=order-type-radio]:not(:checked) ~ #objectdelivery-order-container {
	display: none;
}

.panels [data-panel="validation-form-stage"] {
	text-align: center;
}

input#order-form-stage:not(:checked) ~ .panels [data-panel="order-form-stage"],
input#client-form-stage:not(:checked) ~ .panels [data-panel="client-form-stage"],
input#validation-form-stage:not(:checked) ~ .panels [data-panel="validation-form-stage"],
input#validation-form-stage:not(:checked) ~ div #validate-button,
input#validation-form-stage:checked ~ div #next-stage-button,
input#order-form-stage:checked ~ div #back-stage-button {
	display: none;
}