table {
	margin: auto;
	width: 70%;
}

table, td, tr {
	border-width: 1px;
	border-style: solid;
}

td {
	padding: 5px 0px 10px 5px !important;
	text-align: left;
}

/*(div > input#order-type-radio:not(:checked)) ~ #objectdelivery-order-container*/
/*#test-div:not(input[name=order-type-radio]:not(:checked))   {
	display: none;
}*/

input[name=order-type-radio] {
	float: left;
}

#order-type-radio-label {
	display: block;
	margin-left: 20px;
}


input[name=order-type-radio]:not(:checked) ~ #objectdelivery-order-container {
	display: none;
}

.panels [data-panel="validation-form-stage"] {
	text-align: center;
}

input#order-form-stage:not(:checked) ~ .panels [data-panel="order-form-stage"],
input#client-form-stage:not(:checked) ~ .panels [data-panel="client-form-stage"],
input#validation-form-stage:not(:checked) ~ .panels [data-panel="validation-form-stage"],
input#validation-form-stage:not(:checked) ~ div #validate-button,
input#validation-form-stage:checked ~ div #next-stage-button {
	display: none;
}